<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
    <table border=0 cellpadding=0 cellspacing=0 width=743 style='border-collapse:
 collapse;table-layout:fixed;width:556pt'>
 <col width=22 style='mso-width-source:userset;mso-width-alt:768;width:16pt'>
 <col width=238 style='mso-width-source:userset;mso-width-alt:8476;width:179pt'>
 <col width=122 style='mso-width-source:userset;mso-width-alt:4323;width:91pt'>
 <col width=70 style='mso-width-source:userset;mso-width-alt:2474;width:52pt'>
 <col width=91 style='mso-width-source:userset;mso-width-alt:3242;width:68pt'>
 <col width=66 style='mso-width-source:userset;mso-width-alt:2332;width:49pt'>
 <col width=113 style='mso-width-source:userset;mso-width-alt:4010;width:85pt'>
 <col width=21 style='mso-width-source:userset;mso-width-alt:739;width:16pt'>
 <tr height=26 style='height:19.8pt'>
  <td height=26 width=22 style='height:19.8pt;width:16pt' align=left
  valign=top><span style='mso-ignore:vglayout;
  position:absolute;z-index:2;margin-left:6px;margin-top:4px;width:202px;
  height:137px'><img width=202 height=137 src=logo.png v:shapes="Picture_x0020_1"></span><span
  style='mso-ignore:vglayout2'>
  <table cellpadding=0 cellspacing=0>
   <tr>
    <td height=26 width=22 style='height:19.8pt;width:16pt'></td>
   </tr>
  </table>
  </span></td>
  <td colspan=6 class=xl77 width=700 style='width:524pt'>PROFORMA INVOICE</td>
  <td width=21 style='width:16pt'></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl67>DATE -</td>
  <td class=xl68><%= date %></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl69></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66>DL NO. <font class="font7">HRN-115276</font></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl70>,HRN-115277.</td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66>GST NO: <font class="font8">07AAKFN5053A1ZK</font></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66>TO</td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl65>PT.<span style='mso-spacerun:yes'><%= patient_name %></span></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl65>IP NO.<span style='mso-spacerun:yes'><%= ip_no %></span></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl65></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl65><%= hospital_name %></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66 colspan=2 style='mso-ignore:colspan'><%= unit %></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66 colspan=3 style='mso-ignore:colspan'><%= address %></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66>GST NO: <font class="font8"><%= gst_no %></font></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td class=xl66></td>
  <td></td>
 </tr>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl71><span style='mso-spacerun:yes'> </span>ITEM NAME</td>
  <td class=xl71 style='border-left:none'>BATCH NO</td>
  <td class=xl71 style='border-left:none'>EXP</td>
  <td class=xl71 style='border-left:none'>RATE</td>
  <td class=xl71 style='border-left:none'>QTY</td>
  <td class=xl71 style='border-left:none'>AMOUNT</td>
  <td></td>
 </tr>
 
 <% data.map((item) => { %>
 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl72 style='border-top:none'><%= item.item_name %> </td>
  <td class=xl72 style='border-top:none;border-left:none'><%= item.batch_no %></td>
  <td class=xl73 style='border-top:none;border-left:none'><%= item.exp %></td>
  <td class=xl72 style='border-top:none;border-left:none'><%= item.rate %></td>
  <td class=xl72 style='border-top:none;border-left:none'><%= item.quantity %></td>
  <td class=xl72 style='border-top:none;border-left:none'><%= item.amount %></td>
  <td></td>
</tr>
<% }) %>
 
    <%for(let i = 0; i < 1; i++) { %>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'></td>
            <td class=xl66></td>
            <td class=xl66></td>
            <td class=xl66></td>
            <td class=xl66></td>
            <td class=xl66></td>
            <td class=xl66></td>
            <td></td>
        </tr>
    <% } %>


 <tr height=19 style='height:14.4pt'>
  <td height=19 style='height:14.4pt'></td>
  <td class=xl74>TOTAL AMOUNT<span style='mso-spacerun:yes'></span>-<span
  style='mso-spacerun:yes'></span></td>
  <td colspan=3 class=xl76><%= total_amount %> /-</td>
  <td class=xl69></td>
  <td class=xl69></td>
  <td></td>
 </tr>
        <% const additionalRows = 15 %>
        <%for(let i = 0; i < additionalRows - data.length; i++) { %>
          <tr height=19 style='height:14.4pt'>
            <td height=19 style='height:14.4pt'></td>
            <td class=xl66></td>
            <td class=xl66></td>
            <td class=xl66></td>
            <td class=xl66></td>
            <td class=xl66></td>
            <td class=xl66></td>
            <td></td>
        </tr>
        <% } %>

    
        <div>

            <tr height=19 style='height:14.4pt '>
             <td height=19 style='height:14.4pt' align=left valign=top><span style='mso-ignore:vglayout;
             position:absolute;z-index:1;margin-left:12px;margin-top:0px;width:721px;
             height:133px;'><img width=721 height=133 src=stamp.png v:shapes="Group_x0020_6 Picture_x0020_2 Picture_x0020_5 Straight_x0020_Connector_x0020_3"></span><![endif]><span
             style='mso-ignore:vglayout2'>
             <table cellpadding=0 cellspacing=0>
              <tr>
               <td height=19 width=22 style='height:14.4pt;width:16pt'></td>
              </tr>
             </table>
             </span></td>
             
             <td class=xl75>AUTHORISED SIGNATORY</td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td></td>
            </tr>
            <tr height=19 style='height:14.4pt'>
             <td height=19 style='height:14.4pt'></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td></td>
            </tr>
            <tr height=19 style='height:14.4pt'>
             <td height=19 style='height:14.4pt'></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td></td>
            </tr>
            <tr height=19 style='height:14.4pt'>
             <td height=19 style='height:14.4pt'></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td></td>
            </tr>
            <tr height=19 style='height:14.4pt'>
             <td height=19 style='height:14.4pt'></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td></td>
            </tr>
            <tr height=19 style='height:14.4pt'>
             <td height=19 style='height:14.4pt'></td>
             <td class=xl75>NEXTGEN BIOTECH</td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td></td>
            </tr>
            <tr height=19 style='height:14.4pt'>
             <td height=19 style='height:14.4pt'></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td class=xl66></td>
             <td></td>
            </tr>
            <tr height=21 style='height:15.6pt'>
             <td height=21 style='height:15.6pt'></td>
             <td colspan=6 class=xl78>3- DDA Market, Vikrant Enclave, Rajouri Garden New
             Delhi - 110064</td>
             <td></td>
            </tr>
            <tr height=21 style='height:15.6pt'>
             <td height=21 style='height:15.6pt'></td>
             <td colspan=6 class=xl78>GSTIN: 07AAKFN5053A1ZK Ph: 011 - 45084455,
             9810901789, 8506099472-75</td>
             <td></td>
            </tr>
            <tr height=21 style='height:15.6pt'>
             <td height=21 style='height:15.6pt'></td>
             <td colspan=6 class=xl78>Email: nextgenbiotech14@gmail.com, Website:
             www.ngbindia.in</td>
             <td></td>
            </tr>
            
            <tr height=0 style='display:none'>
             <td width=22 style='width:16pt'></td>
             <td width=238 style='width:179pt'></td>
             <td width=122 style='width:91pt'></td>
             <td width=70 style='width:52pt'></td>
             <td width=91 style='width:68pt'></td>
             <td width=66 style='width:49pt'></td>
             <td width=113 style='width:85pt'></td>
             <td width=21 style='width:16pt'></td>
            </tr>
        </div>
    

</table>
 

    
</body>
</html>